
<div class="has-background-color is-flex flex-grow-1 flex-direction-column">
  <%= form_with model: @budgets, url: group_budgets_path, method: :post, data: { turbo: false } do |f| %>
    <div class="header">
      <%= render "shared/back_button" %>
      <div class="is-flex flex-grow-1 justify-content-center">
        <h2 class="title">New Transaction</h2>
      </div>
      <%= f.submit "Save", class: "button has-text-white" %>
    </div>
    <%= render "devise/shared/error_messages", resource: @budget %>
    <div class="input-group my-2 shadow-box">
      <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "input", required: true %>
      <div class="divider"></div>
      <%= f.number_field :amount, placeholder: "Amount", class: "input", required: true %>
      <div class="divider"></div>
      <%= f.collection_select :group_ids, @groups, :id, :name, {}, { class: "input", multiple: true, required: true } %>
    </div>
  <% end %>
</div>