
<div class="is-flex flex-direction-column flex-grow-1">
  <header class="header">
		<%= link_to groups_path, class: "button" do %>
      <span class="material-icons-outlined">arrow_back</span>
    <% end %>
    <div class="is-flex flex-grow-1 justify-content-center">
      <h1 class="title">Budgets <%= @group.name %></h1>
    </div>
    <%= link_to @budget, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button has-text-white' do %>
      <span class="material-icons-outlined">delete</span>
    <% end %>
    <%= button_to "Delete", group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button has-text-white' %>
  </header>
	<div class="p-4 is-flex justify-content-between">
		<p>Total Amount:</p>
		<p class="fw-bold">$<%= @group.budgets.sum(:amount).round(2) %></p>
	</div>
	<div class="divider mb-2"></div>

    <% if @group.budgets.any? %>
        <h1>All Allotted Budgets</h1>
        <%= render partial: 'budgets/budget', locals: { group: @group } %>
    <% else %>
        <h1>No Budgets Yet</h1>
    <% end %>
</div>
<footer class="p-4 is-secondary">
  <%= link_to 'Add a new Budget', new_group_budget_path(@group), class: "button is-outlined" %>
</footer>